
   .reka {
     background-image: url(toolbar1.gif);background-repeat: no-repeat;
   }

   .reka_tab {
    background-image: url(reka_main_right1.gif)  ;background-repeat: no-repeat; background-position : right top ;
   }


   #menu {   padding : 0px ; margin : 0px  ; margin-top : 7px ;

   }

    #menu li {
      display : inline-block; height : 31px ; background-image: url(kav.gif);background-repeat: no-repeat; background-position : right top;
    }

    .text {
      font-family  : arial ; font-size : 90% ;
    }
   #menu a {
     display : inline-block ; padding : 0px 10px ; text-decoration : none ;  color :  #053C5A
   }

   #menu a:hover {
    text-decoration : underline ;
   }


   #content {
     font-family : arial ; font-size : 85% ;line-height : 150% ;
   }

h1 {
  font-size : 150%   ; color : #053C5A
}

#content ol li {padding-bottom : 5px ;

 }


 #schedule td , th {
   border : solid gray  1px ;    border-collapse:collapse; padding : 6px
 }